Source: gtsam-no-tbb
Section: libs
Priority: optional
Maintainer: Frank Dellaert <frank@cc.gatech.edu>
Uploaders: Bernd Pfrommer <bernd.pfrommer@gmail.com>
Build-Depends: cmake,
    debhelper (>=9),
    libboost-all-dev (>= 1.58),
    libeigen3-dev,
    libcpputest-dev,
    libgeographic-dev,
    libmetis-dev
Standards-Version: 4.5.0
Homepage: https://github.com/borglab/gtsam

Package: libgtsam-no-tbb-dev
Section: libdevel
Architecture: any
Depends: libgtsam-no-tbb4 (= ${binary:Version}), ${misc:Depends},
    libboost-serialization-dev,
    libboost-system-dev,
    libboost-filesystem-dev,
    libboost-thread-dev,
    libboost-program-options-dev,
    libboost-date-time-dev,
    libboost-timer-dev,
    libboost-chrono-dev,
    libboost-regex-dev,
    libeigen3-dev,
    libmetis-dev
Description: GTSAM library header and config files
 A collection of C++ classes related to SLAM
 .
 This package contains the development files.


Package: libgtsam-no-tbb4
Section: libs
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libgtsam4
Description: GTSAM Georgia Tech Smoothing and Mapping Library (without TBB)
 A collection of C++ classes related to SLAM


Package: libgtsam-no-tbb-unstable4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgtsam-no-tbb4 (= ${binary:Version})
Conflicts: libgtsam-unstable4
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Description: Unstable parts of the GTSAM Georgia Tech Smoothing and Mapping Library (without TBB)
 A collection of C++ classes related to SLAM
 .
 This package contains the unstable parts of it

Package: libgtsam-no-tbb-unstable-dev
Architecture: any
Section: libdevel
Depends: libgtsam-no-tbb-unstable4 (= ${binary:Version}), ${misc:Depends},
    libgtsam-no-tbb-dev (= ${binary:Version})
Conflicts: libgtsam-unstable-dev
Description: GTSAM unstable library header and config files (without TBB)
 A collection of unstable C++ classes related to SLAM
 .
 This package contains the development files.
